@model IEnumerable<TaskManager.Models.Task>

@{
    ViewData["Title"] = "Index";
}

@section Scripts
{
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
        </script>
    }

}
<body>

    <h1>Oncoming Tasks</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.title)*@
                    Title
                </th>
                <th>
                    Notes
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <div class="hidden">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td style="width:100px">
                            @Html.DisplayFor(modelItem => item.notes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.endDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                        </td>
                    </tr>
                }
            </div>
        </tbody>
    </table>


</body>
